header {
  height: 80px;
  margin: 12px 0px;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      cursor: pointer;
    }

    .header-nav {
      max-width: 840px;
      width: 100%;
      .nav-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 12px;
        color: $primaryColor;
        letter-spacing: 1px;
      }

      .nav-ul {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav-li {
          position: relative;
          transition: 0.5s ease;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: -7px;
            height: 2px;
            width: 0%;
            background-color: $primaryColor;
            transition: 0.5s ease;
          }

          &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: -4px;
            height: 2px;
            width: 0%;
            background-color: $primaryColor;
            transition: 0.5s ease;
          }

          &:hover {
            transform: scale(1.1);

            &::before {
              width: 100%;
            }

            &::after {
              width: 100%;
            }
          }
        }
      }
      .burger {
        display: none;
      }
    }
  }
}

@media (max-width: 1100px) {
  header {
    .header-content {
      .header-nav {
        display: flex;
        justify-content: flex-end;
        .nav-ul {
          display: none;
        }
        .burger {
          width: 40px;
          height: 40px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          cursor: pointer;

          .burger-line {
            width: 100%;
            height: 3px;
            background-color: $primaryColor;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  header {
    height: 60px;
    .header-content {
      img {
        height: 50px;
        width: 120px;
      }
      .burger {
        width: 30px;
        height: 30px;
      }
    }
  }
}
