.index-main {
  display: flex;
  height: 829px;
  align-items: flex-start;

  .left-slider {
    max-width: 400px;
    height: 830px;
    width: 100%;
    border: 2px red solid;

    // aspect-ratio: 770/829;

    // .slider-texr-are {
    //   padding: 0px 20px;
    //   height: 550px;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   text-align: center;

    //   h1 {
    //     font-size: 48px;
    //     font-weight: 600;
    //     line-height: 64px;
    //     color: $secondaryColor;
    //   }
    //   p {
    //     margin-top: 20px;
    //     font-size: 16px;
    //     font-weight: 400;
    //     line-height: 21px;
    //     color: $secondaryColor;
    //   }
    // }
    .slider-arrow {
      display: flex;
      align-items: center;
      margin-top: 556px;

      .squar {
        width: 53px;
        height: 53px;
        border: 1px rgba(242, 242, 242, 1) solid;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 1);
        cursor: pointer;
        transition: 0.5s ease;

        &:hover {
          background-color: rgba(242, 242, 242, 1);
        }
      }

      .left-arrow {
        background-color: rgba(255, 255, 255, 1);
        margin-right: 23px;
      }

      .arrow-line {
        height: 2px;
        width: 100%;
        background-color: rgba(242, 242, 242, 1);
      }
    }
    .slider-count {
      margin-top: 90px;
      display: flex;
      align-items: center;
      column-gap: 17px;
      p {
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        color: $secondaryColor;
      }
      .counter-spliter {
        width: 46px;
        height: 2px;
        background-color: $secondaryColor;
        transform: rotate(-45deg);
      }
    }
  }
  .right-slider {
    max-width: 770px;
    width: 100%;
    max-height: 830x;
    height: 100%;
    background-image: url(../images/cover.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
    aspect-ratio: 770/830;

    .slider-btn {
      position: absolute;
      left: 0px;
      bottom: 0px;
    }
  }
}

@media (max-width: 768px) {
  .index-main {
    // align-items: flex-start;
    .left-slider {
      display: none;
    }
    .right-slider {
      .slider-btn {
        display: none;
      }
    }
  }
}
