.projects {
  margin-top: 40px;

  h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 64px;
    color: $secondaryColor;
  }

  .pro-frow {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    .pro-detail {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.8)
        );
        z-index: 1;
      }
      img {
        max-width: 570px;
        width: 100%;
        max-height: 255px;
        height: 100%;
      }
      .pro-more {
        position: absolute;
        left: 67px;
        bottom: 47px;
        z-index: 10;
        max-width: 233px;
        width: 100%;

        h4 {
          font-size: 30px;
          font-weight: 500;
          line-height: 64px;
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
  .pro-srow {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    .pro-img-1 {
      max-width: 270px;
      width: 100%;
      max-height: 255px;
      height: 100%;
    }

    .pro-img-2 {
      max-width: 470px;
      width: 100%;
      max-height: 255px;
      height: 100%;
    }

    .pro-img-3 {
      max-width: 370px;
      width: 100%;
      max-height: 255px;
      height: 100%;
    }
  }

  .see-all {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 1200px) {
  .projects {
    margin-top: 10%;
    .pro-frow {
      flex-direction: column;
      row-gap: 30px;
      align-items: center;
    }
    .pro-srow {
      display: none;
    }
    .see-all {
      justify-content: center;
    }
  }
}
@media (max-width: 768px) {
  .projects {
    margin-top: 5%;

    h3 {
      font-size: 30px;
    }
    .pro-frow {
      margin-top: 20px;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 20px;
    }
    .pro-srow {
      display: none;
    }
    .see-all {
      justify-content: center;
    }
  }
}

@media (max-width: 500px) {
  .projects {
    .pro-frow {
      .pro-detail {
        &::before {
          display: none;
        }
        .pro-more {
          display: none;
        }
      }
      .pro-srow {
        display: none;
      }
      .see-all {
        justify-content: center;
      }
    }
  }
}
