.about-us-container {
  margin-top: 120px;
  min-height: 465px;
  width: 100%;

  .inside-area {
    width: 100%;
    background-color: $backgroundColor;
    padding: 30px 70px 0px 100px;
    display: flex;

    .img-wrapper {
      display: flex;
      flex-wrap: wrap-reverse;
      column-gap: 30px;
      max-width: 600px;
      width: 100%;

      .left-about-img {
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        .ab-img-1 {
          max-width: 270px;
          width: 100%;
          height: 265px;
          max-height: 100%;
        }
        .ab-img-2 {
          max-width: 270px;
          width: 100%;
          height: 140px;
          max-height: 100%;
          margin-bottom: -30px;
        }
      }
      .right-about-img {
        margin-top: 30px;
        img {
          max-width: 100%;
        }
      }
    }
    .about-text-area {
      max-width: 400px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      h3 {
        color: $secondaryColor;
        font-size: 36px;
        font-weight: 700;
        line-height: 64px;
      }

      p {
        min-height: 200px;
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
        color: rgba(0, 0, 0, 1);
      }
    }
  }
}

@media (max-width: 1150px) {
  .about-us-container {
    margin-top: 5%;
    .inside-area {
      justify-content: center;
      flex-wrap: wrap;
      .img-wrapper {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        .left-about-img {
          display: none;
        }
      }
      .about-text-area {
        justify-content: center;
        align-items: center;
      }
    }
  }
}
@media (max-width: 768px) {
  .about-us-container {
    .inside-area {
      .img-wrapper {
        display: flex;
        align-items: center;
        .right-about-img {
          img {
            display: none;
          }
        }
      }
    }
  }
}
