.about-us-container {
  height: 465px;
  width: 100%;

  .inside-area {
    width: 100%;
    min-height: 435px;
    background-color: $backgroundColor;
    padding: 30px 70px 0px 100px;
    display: flex;

    .img-wrapper {
      position: relative;
      max-width: 600px;
      width: 100%;

      .img-1 {
        width: 270px;
        height: 265px;
        background-image: url("../images/cover-2-1.png");
        background-repeat: no-repeat;
        position: absolute;
      }
      .img-2 {
        width: 270px;
        height: 140px;
        background-image: url("../images/cover-2-3.png");
        background-repeat: no-repeat;
        position: absolute;
        bottom: -30px;
      }
      .img-3 {
        width: 270px;
        height: 345px;
        background-image: url("../images/cover-2-2.png");
        background-repeat: no-repeat;
        position: absolute;
        top: 30px;
        right: 30px;
      }
    }
    .about-text-area {
      width: 400px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      h3 {
        color: $secondaryColor;
        font-size: 36px;
        font-weight: 700;
        line-height: 64px;
      }

      p {
        min-height: 200px;
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
        color: rgba(0, 0, 0, 1);
      }
    }
  }
}

@media (max-width: 768px) {
  .about-us-container {
    .inside-area {
      .img-wrapper {
        display: flex;
        align-items: center;
        // justify-content: center;
        .img-3 {
          position: static;
          //   display: none;
        }
        .img-1 {
          display: none;
        }
        .img-2 {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .about-us-container {
    .inside-area {
      .img-wrapper {
        display: none;
      }
    }
  }
}
