@import url("//cdn.web-fonts.ge/fonts/bpg-banner-caps/css/bpg-banner-caps.min.css");

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0px auto;
}

body,
input,
textarea,
button {
  font-family: "BPG Banner Caps", sans-serif;
}

.white-btn {
  width: 222px;
  height: 71px;
  border: none;
  padding: 24px 50px 24px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 1);
  background-image: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center right 30px;
  cursor: pointer;
  transition: 0.5s ease;

  &:hover {
    background-color: rgba(242, 242, 242, 1);
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}
