@import url("//cdn.web-fonts.ge/fonts/bpg-banner-caps/css/bpg-banner-caps.min.css");

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0px auto;
}

body,
input,
textarea,
button {
  font-family: "BPG Banner Caps", sans-serif;
}

.white-btn,
.trans-btn,
.blue-btn {
  width: 222px;
  height: 71px;
  border: none;
  padding: 27px 50px 24px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  background-image: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center right 30px;
  cursor: pointer;
  transition: 0.5s ease;
}

.white-btn {
  color: $primaryColor;
  background-color: rgba(255, 255, 255, 1);
  &:hover {
    background-color: rgba(242, 242, 242, 1);
  }
}

.trans-btn {
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  &:hover {
    background-color: $primaryColor;
  }
}
.blue-btn {
  color: rgba(255, 255, 255, 1);
  background-color: rgb(79, 128, 226);

  &:hover {
    background-color: $primaryColor;
  }
}

.second-header {
  height: 57px;
  background-color: rgba(221, 233, 247, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 18px;

  img {
    margin-top: 5px;
  }

  h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 64px;
    color: rgba(20, 60, 142, 1);
  }
}

.squar {
  width: 53px;
  height: 53px;
  border: 1px rgba(242, 242, 242, 1) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: 0.5s ease;

  &:hover {
    background-color: rgba(242, 242, 242, 1);
  }
}

.left-arrow {
  background-color: rgba(255, 255, 255, 1);
  margin-right: 23px;
}

.slider-count {
  display: flex;
  align-items: center;
  column-gap: 17px;
  p {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: $secondaryColor;
  }
  .counter-spliter {
    width: 46px;
    height: 2px;
    background-color: $secondaryColor;
    transform: rotate(-45deg);
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 16px;
  }
}
